.aboutService-container{
    width: 100%;
    background-color: #fff;
    padding: 60px 0;
    .aboutService-content{
        width: 85%;
        margin: 0 auto;
    }
    .title{
        text-align: center;
        width: 48%;
        margin: 0 auto;
        padding-top: 20px;
        line-height: 1.6;
        margin-bottom: 20px;
        h2{
            font-size: 48px;
            font-weight: 300;
        }
        p{
            font-size: 18px;
            font-weight: 300;
        }
    }
    .services{
        margin-bottom: 25px;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
        .service{
            width: 23%;
            background-color: #fff;
            padding: 55px 0;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.3s ease;
            box-shadow: 8px 8px 5px #a4a2a2;
            border-top: 1px solid #f5eeee;
            border-left: 1px solid #f3ecec;
            li{
                margin-bottom: 25px;
                i{
                    font-size: 60px;
                    color: #59ab6e;
                    transition: all 0.3s ease;
                }
            }
            p{
                font-size: 20px;
                font-weight: 500;
                color: #000;
                transition: all 0.3s ease;
            }
        }
        .service:hover{
            background-color: #59ab6e;
            li{
                i{
                    color: #fff;
                }
            }
            p{
                color: #fff;
            }
        }
    }
}
@media only screen and (max-width: 1024px) {
    .aboutService-container{
        padding-top: 30px;
        .aboutService-content{
            .title{
                width: 65%;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .aboutService-container{
        padding-top: 30px;
        .aboutService-content{
            width: 90%;
        }
        .title{
            width: 80% !important;
            h2{
                font-size: 45px;
            }
            p{
                font-size: 17px;
            }
        }
        .services{
            flex-wrap: wrap;
            margin-bottom: 0;
            .service{
                width: 45%;
                margin-bottom: 25px;
            }
        }
    }
}
@media only screen and (max-width: 480px) {
    .aboutService-container{
        padding-top: 10px;
        padding-bottom: 30px;
        .aboutService-content{
            width: 90%;
        }
        .title{
            width: 100% !important;
            h2{
                font-size: 40px;
            }
            p{
                font-size: 15px;
            }
        }
        .services{
            flex-direction: column;
            margin-bottom: 0;
            .service{
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }
}